## Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.idea
*.sass-cache
*.sublime-*

## OSX stuff
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## General WordPress stuff
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

## VouSair Theme
wp-content/themes/vousair/node_modules/
wp-content/themes/vousair/bower_components/
wp-content/themes/vousair/build/
wp-content/themes/vousair/.sass-cache/