/********************

VouSair Main Style File

@package WordPress
@subpackage VouSair
@since VouSair Theme 1.0

#0# DOCUMENTATION

#0.1# DOCUMENT RULES

Every part of this document is organized and divided,
you can find what you want by using the index ber searching this document for #x#.

If you think that the code you are adding doesn't belong to one of the indexed sections
please feel free to create one or add it to the last section : #99# UNSORTED CODE
Thanks for organizing your code and making it easier for everybody to find it.

D.

#0.2# DOCUMENT NOTES

Please add notes here.

#1# INDEX

Indexed sections:

#0# DOCUMENTATION
	#0.1# DOCUMENT RULES
	#0.2# DOCUMENT NOTES
#1# INDEX
#2# DOCUMENT SETUP
	#2.1# VARIABLES
	#2.2# MIXINS
#3# BOOTSTRAP
	#3.1# BS OVERRIDES
	#3.2# BS IMPORT
#4# BASE
#5# NAVIGATION
#6# ADVERTISING PLACEMENTS
#7# SIDEBAR

#99# UNSORTED CODE
********************

#2# DOCUMENT SETUP

This document setup variables and mixins.

#2.1# VARIABLES
********************/

//VouSair Logo Colors
$vs-orange:				#EA542D;
$vs-orange-light:		#EE8822;

$vs-blue-dark:			#5B9ED6;
$vs-blue:				#50BFE6;
$vs-blue-light:			#80D2E9;
$vs-blue-lighter:		#B1E1EF;

$vs-green:				#A7CC38;

$vs-purple:				#A262A8;

$vs-grey-dark:			#333333;
$vs-grey:				#666666;
$vs-grey-light:			#EAEAEA;

/********************

#2.2# MIXINS

********************/
@mixin transition($transition: all 500ms linear) {
	-webkit-transition:		$transition;
	-moz-transition:		$transition;
	-ms-transition:			$transition;
	-o-transition:			$transition;
}

/********************

#3# BOOTSTRAP

#3.1# BS OVERRIDES

Override bootstrap settings, variables and code like a boss.

********************/

// Colors
$gray-dark:                 $vs-grey-dark;
$gray:                      $vs-grey;
$gray-light:                #818a91;
$gray-lighter:              $vs-grey-light;
$gray-lightest:             #f7f7f9;

$brand-primary:             $vs-blue;
$brand-success:             $vs-green;
$brand-info:                $vs-blue-light;
$brand-warning:             $vs-orange;
$brand-danger:              #d9534f;

// Options
//$enable-flex:				false;
$enable-rounded:			false;
$enable-shadows:			true;
$enable-gradients:			true;
$enable-transitions:		true;
$enable-hover-media-query:	true;
//$enable-grid-classes:		true;

// Typography

//$font-family-sans-serif:	"Helvetica Neue", Helvetica, Arial, sans-serif !default;
//$font-family-serif:			Georgia, "Times New Roman", Times, serif !default;
//$font-family-monospace:		Menlo, Monaco, Consolas, "Courier New", monospace !default;
//$font-family-base:			$font-family-sans-serif !default;

// Components

//$line-height-lg:			(4 / 3) !default;
//$line-height-sm:			1.5 !default;

//$border-radius:				.25rem;//.25rem !default;
//$border-radius-lg:			.3rem;//.3rem !default;
//$border-radius-sm:			.2rem;//.2rem !default;

//$component-active-color:	#fff !default;
//$component-active-bg:		$brand-primary !default;

//$caret-width:				.3em !default;
//$caret-width-lg:			$caret-width !default;

/********************

#3.2# BS IMPORT

********************/

@import "bootstrap/bootstrap.scss";

/********************

#4# HEADER

********************/

.vs-header{
	background-color:white;
	padding-top:.5rem;
	padding-bottom:.5rem;
}

/********************

#5# NAVIGATION

********************/

//Wordpress admin bar fix
body.admin-bar nav.vs-navigation{
	margin-top: 46px;
}
@media (min-width: 782px) {
	body.admin-bar nav.vs-navigation{
		margin-top: 32px;
	}
}

/********************

#6# ADVERTISING PLACEMENTS

********************/

.vs-billboard{
	background-color: white;
	text-align:center;
	margin-bottom:-7px;
	>div{
		margin-bottom:-7px; //fix spacing problem with hmtags
	}
}

/********************

#7# SIDEBAR

********************/

.vs-sidebar{
	background-color:$vs-grey-light;
}

/********************

#99# UNSORTED CODE

********************/

.vs-mrec-main{
	text-align:center;
}