/********************

VouSair Main Style File

@package WordPress
@subpackage VouSair
@since VouSair Theme 1.0

#0# DOCUMENTATION

#0.1# DOCUMENT RULES

Every part of this document is organized and divided,
you can find what you want by using the index ber searching this document for #x#.

If you think that the code you are adding doesn't belong to one of the indexed sections
please feel free to create one or add it to the last section : #99# UNSORTED CODE
Thanks for organizing your code and making it easier for everybody to find it.

D.

#0.2# DOCUMENT NOTES

Please add notes here.

#1# INDEX

Indexed sections:

#0# DOCUMENTATION
	#0.1# DOCUMENT RULES
	#0.2# DOCUMENT NOTES
#1# INDEX
#2# DOCUMENT SETUP
	#2.1# VARIABLES
	#2.2# MIXINS
#3# BOOTSTRAP
	#3.1# BS IMPORT
	#3.2# BS OVERRIDES

#99# UNSORTED CODE
********************

#2# DOCUMENT SETUP

This document setup variables and mixins.

#2.1# VARIABLES
********************/

//Logo Colors
$vs-orange:			#EA542D;
$vs-light-orange:	#EE8822;

$vs-dark-blue:		#5B9ED6;
$vs-blue:			#50BFE6;
$vs-light-blue:		#80D2E9;
$vs-lighter-blue:	#B1E1EF;

$vs-green:			#A7CC38;

$vs-purple:			#A262A8;

$vs-dark-grey:		#333333;
$vs-grey:			#666666;
$vs-light-grey:		#EAEAEA;

//Component Colors

//Navigation
$vs-nav-color: $vs-grey;
$vs-nav-color-active: $vs-orange;
$vs-nav-bg: white;

/********************

#2.2# MIXINS

********************/
@mixin transition($transition: all 500ms linear) {
	-webkit-transition:	$transition;
	-moz-transition:	$transition;
	-ms-transition:		$transition;
	-o-transition:		$transition;
}
/********************

#3# BOOTSTRAP

#3.1# BS IMPORT

********************/

@import "bootstrap/bootstrap.scss";

/********************

#3.2# BS OVERRIDES

Override bootstrap settings, variables and code like a boss.

********************/

// Colors
//
// Grayscale and brand colors for use across Bootstrap.
$gray-dark:                 #373a3c;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             $vs-blue;
$brand-success:             $vs-green;
$brand-info:                $vs-light-blue;
$brand-warning:             $vs-orange;
$brand-danger:              #d9534f;

/********************

#4# BASE

********************/



/********************

#5# NAVIGATION

********************/

//Wordpress admin bar fix
body.admin-bar nav.vs-navigation{
	margin-top: 46px;
}
@media (min-width: 782px) {
	body.admin-bar nav.vs-navigation{
		margin-top: 32px;
	}
}

/********************

#99# UNSORTED CODE

********************/